<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hc.mall.manageservice.mapper.BaseAttrInfoMapper">

    <resultMap id="attrValueList" type="com.hc.mall.bean.BaseAttrInfo" autoMapping="true">

        <id property="id" column="id"></id>

        <collection property="attrValueList" ofType="com.hc.mall.bean.BaseAttrValue" autoMapping="true" >
            <id property="id" column="attr_value_id"></id>
        </collection>

    </resultMap>

<!--  List<BaseAttrInfo> getBaseAttrInfoListByCatalog3Id(String catalog3Id)  -->
    <select id="getBaseAttrInfoListByCatalog3Id" resultMap="attrValueList">
            SELECT
            bai.id,
            bai.attr_name,
            bai.catalog3_id,
            bav.id attr_value_id,
            bav.value_name,
            bav.attr_id
            from
            base_attr_info  bai
            INNER JOIN
            base_attr_value bav
            ON
            bai.id = bav.attr_id
            WHERE
            catalog3_id = #{0};


    </select>

<!--    List<BaseAttrInfo> getAttrValueIdList(List<String> attrValueIdList);-->
    <!--        WHERE-->
<!--    bai.catalog3_id = 61;-->
<!--    bai.id,bai.attr_name,bav.id,bav.value_name-->
    <select id="getAttrValueIdList" resultMap="attrValueList" >

        select
        *
        from
        base_attr_value bav
        LEFT JOIN
        base_attr_info bai
        ON
        bai.id = bav.attr_id
        WHERE
        bav.id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper>