<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>thymeleaf展示</title>
</head>
<body>

        <h1>test!!!!!!!!!!!</h1>

        <div th:text="${testKey}" th:value="${testKey}"></div>

        <h1>test-each</h1>

            <table>
                <tr th:each="array,stat:${arrayList}">
                    <td th:text="${array}"></td>
                    <td th:text="${stat.index}"></td>
                </tr>
            </table>

        <h1>test-if-三元</h1>

        <div th:text="${age} >= 18 ? '成年人':'青年人'"></div>
        <div th:text="${age >= 18 ? '成年人':'青年人'}"></div>

        <div th:if="${age}>=18" th:text="测试成功"></div>

        <div th:if="${age}>='18'" th:text="测试成功"></div>

        <span th:text="${session.job}"></span>

        <h1>test-内嵌页！</h1>

        <div th:include="itemInner"></div>

        <h1>--------------</h1>
        <div th:text="${green}"></div>

        <h1>--------------- </h1>
        <div th:utext="${green}"></div>
</body>
</html>